body, html{
  width: 99%;
  height: 99%;
  display: flex;
}

.div-all-leagues{
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
  
.div-left1-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.div-league1{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-league1-up-leagueselect{
  width: 100%;
  height: 30%;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.div-league1-mid-leagueselect{
  width: 100%;
  height: 40%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-league1-down-leagueselect{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.div-right1-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-league-buttons{
    width: 20%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-left2-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-league2{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-league2-up-leagueselect{
    width: 100%;
    height: 30%;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
  
.div-league2-mid-leagueselect{
    width: 100%;
    height: 40%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.div-league2-down-leagueselect{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-right2-btn{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  

.buttons-left-right-leagueselect{
    width: 80%;
    height: 10%;
    background-color: darkblue;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    color: white;
}

.buttons-left-right-leagueselect:hover{
  background-color: lightgray;
  border-radius: 20px;
  text-align: center;
  font-size: 26px;
  color: black;
}


.buttons-leagueselect{
    width: 200px;
    height: 75px;
    background-color: green;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    color: white;
}
  
.buttons-leagueselect:hover{
    background-color: lightgray;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    color: black;
}